{% extends 'layout.html' %}
{% block includes %}
  <script src=//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js>
  </script>
  <script src=/static/js/dashboard.js></script>

  <link rel=stylesheet href='/static/css/dashboard.css'></style>
{% endblock %}
{% block body %}
  <div id='auth-token' class='hidden'>{{ d['token'] }}</div>

  Yo {{ d['usern'] }}-dawg<br>
  <br>

  <b>Your repos</b><br>
  <div id=repos>
    {% for repo in d['repos'] %}
      <button class=untinted>{{ repo['name'] }}</button><br>
    {% endfor %}
    <br>
  </div>

  <a href='/logout'><b>Log out</b></a>
{% endblock %}
